.container-fluid{

  align-items: center;
}

.card-group{

margin-left: 10%;
margin-right: 10%;

}

.card-img-top{

    padding: 10%;
}


.carousel-inner .carousel-item img {

    height: 500px;
    filter: brightness(50%);

}

.titulo_carrusel{
    /* display: block; */
    text-align: center;
}

.texto-carrusel{

  width: 50%;
  text-align: right;
  position: absolute;
  bottom: 30px;
  right: 20px;
  
  
  
  
  

  
  

}


/* .container-text{

    color: aliceblue;
    background-color: #303030;
} */


.formulario{

    display: flex;
    align-items: center;
    margin: 10%;
}

.wrapper {

    display: flex;
    flex-wrap: wrap;
    margin-top: 10%;
    /* margin-left: 10%;
    margin-right: 10%; */
    height: 100px;

  }

.wrapper > div {
    flex: 1 1 10px;
    background-color: rgb(15, 100, 83);
    color: aliceblue;
    /* border: solid red; */
    height: 100%;
    text-align: center;
    padding: 10px 10px 10px 10px;    
    
    

  }

.footer{
  background-color: rgb(50, 50, 50);
  color: white;
  text-align: center;
  
}
 .footer-item{
    
    
    display:inline-block;
    padding: 20px;
    
    
    
  }

  .footer-item a{

    color: white;
    
  }
  
.tarjetaCompras {

align-items: center;
}


.btn-verde {

  background-color: chartreuse;

}



  /* .btn-info{    
    
    height: 20px;
    width: 60px;

  }

  .btn-warning {
    height: 20px;
    width: 80px;


  } */